<h2>Hi <%= @visitor.username %>, welcome to your profile page.</h2>
<p>You've been to the <%= @visitor.countrys.all.size %> country(s) listed below.</p>
<form class="" action="/visitor/<%=@visitor.id%>/drinks" method="post">
  <input type="hidden" name="_method" value="PATCH">
<ul>
  <% @visitor.countrys.all.each do |country| %>
  <li><%= country.name %> - Favorite Drink: <input type="text" name="drink_name" value=""></li>
  <% end %>
</ul>
<input type="submit" name="submit" value="Update Your Countries With Your Favorite Drinks!">
</form>
<br></br>
