<h2>Hi <%= @visitor.username %>, welcome to your countries profile page.</h2>
<p>You've been to the <%= @visitor.countrys.all.size %> country(s) listed below. Update them with your favorite drink from each country:</p>
<form class="" action="index.html" method="post">
<ul>
  <% @visitor.countrys.all.each do |country| %>
  <li><%= country.name %> - <label for="">Favorite Drink: </label><input type="text" name="" value=""></li>
  <% end %>
</ul>
<input type="submit" name="submit" value="Update your countries with your favorite drinks!">
</form>
