<form action="/cities/cities" method="post">
  <label>Enter the name of the city:</label>
  <input type="text" name="city_name" value=""><br></br>

  <label>Select the country the city belongs to:</label><br></br>
  <% Country.all.each do |country| %>
    <input type="checkbox" name="countrys[]" value="<%=country.id%>" id="<%=country.name%>"><%=country.name.capitalize%><br></br></input>
    <% end %>
  <input type="submit" name="submit" value="Create City">
</form>
